{
  "env": {
    "development": {
      "plugins": [
        "add-module-exports",
        "transform-decorators-legacy",
        "jsx-control-statements"
      ],
      "presets": [
        "env",
        "react",
        "stage-0"
      ]
    },
    "production": {
      "plugins": ["add-module-exports", "transform-decorators-legacy", "jsx-control-statements"],
      "presets": ["env", "react", "stage-0"]
    }
  }
}
